*{
    margin:auto;
   
}
body{
    background-color:black;
    color:white;
}
.img{
    height:252px;
    width:200px;
}
.conten{
    height:auto;
    width:auto;
}
.row1{
    height:28px;
}
.row2{
    height:72px;
}
.logo{
    height:72px;
    width:72px;
    margin-left:80px;
    float:left; 
}
.a{
    margin:10px 20px;
    height:48px;
    width:103px;
    float:left;
}
.b{
    height:30px;
    width:68px;
    float:left;
    margin-left:700px;
    margin-top:20px;
}
.c{
    height:30px;
    width:94px;
    float:right;
    margin-right:40px;
    margin-top:20px;
}
.row3{
    height:28px;
    /*border-bottom:1px solid red;*/
}
.row4{
    height:40px;

}
.row5{
    height:28px;
    /*border:1px solid red;*/ 
    float:left;
    color:white;
}
p{
    margin-left:160px;
}
