*{
    margin:auto;
   
}
body{
    background-color:black;
    color:white;
}
.img{
    height:252px;
    width:200px;
}
.conten{
    height:auto;
    width:auto;
}
.row1{
    height:28px;
}
.row2{
    height:72px;
}
.logo{
    height:72px;
    width:72px;
    margin-left:80px;
    float:left; 
}
.a{
    margin:10px 20px;
    height:48px;
    width:103px;
    float:left;
}
.b{
    height:30px;
    width:68px;
    float:left;
    margin-left:700px;
    margin-top:20px;
}
.c{
    height:30px;
    width:94px;
    float:right;
    margin-right:40px;
    margin-top:20px;
}
.row3{
    height:28px;
}
.row4{
    height:40px;

}
.row5{
    height:28px;
    float:left;
    color:white;
}
p{
    margin-left:160px;
}
.movie_details{
    width:954px;
    height:252px;
    margin-top:30px;
    margin-left:160px; 
}
.pic_box{
    height:252px;
    width:200px;
    float:left;
}
.name_box{
    height:175px;
    width:730px;
    float:left;
    margin-left:20px;    
}
.box{
    height:72px;
    width:500px;
    float:left;
}
.box1{
    height:100px;
    width:500px;
    float:left;
}
.like_box{
    height:40px;
    width:730px;
    float:left;
    margin-left:20px;
    margin-top:33px;

}
.like-icon{
    margin-left:20px;
    float:left;
    margin-top:10px;
}
.count{
    background-color:#2D2727;
    border-radius:100px;
    margin-left:20px;
    float:left;
    margin-top:20px;
}
.dislike-icon{
    margin-left:20px;
    float:left;
    margin-top:9px;
}

.delete{
    float:right;
    margin-left:510px;
    margin-top:10px;
}
.bottom{
    height:24px;
    width:954px;
    float:left;
    margin:auto;
    margin-left:160px;
    border-bottom:1px solid gray;
}
.footer{
    background-color:#272734;
    height:160px;
    margin-top:300px;
}
.row10{
    height:32px;
    width:128px;
    margin-left:160px;
    margin-top:100px;
}
.row11{
    height:32px;
    width:143px;
    margin-top:60px;
}

p1{
    margin-top:100px;
    color:white;
}
.text{
    margin-top:60px;
    margin-left:160px;
}
h1{
    font-size:20px;
}
p3{
    margin-left:1px;
    font-size:10px;
}
